.game {
    max-width: 340px;
    width: 100%;
    margin: auto;
    animation: gridAnim 0.6s ease-out 0s 1 normal forwards;

    .up-side {
        position: relative;
        height: 100px;

        .buttons {
            gap: 10px;
            margin-bottom: 10px;
            display: inline-flex;
            position: absolute;
            right: 0px;
        }

        .which-turn {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            background-color: #213742;
            text-transform: uppercase;
            color: #a7bdc8;
            font-size: 1.3em;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 5px 1px 0px #0f202a;
            ;
        }
    }
    .down-side {
        position: relative;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

        .you-count {
            position: absolute;
            width: auto;
            background-color: #31c4be;
            text-transform: uppercase;
            color: #11252e;
            font-size: 1.3em;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 5px 1px 0px #0f202a;
            left: 0;
        }

        .tie-count {
            position: absolute;
            width: auto;
            background-color: #a8bec9;
            text-transform: uppercase;
            color: #11252e;
            font-size: 1.3em;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 5px 1px 0px #0f202a;
        }
        
        .cpu-count {
            position: absolute;
            width: auto;
            background-color: #f2b237;
            text-transform: uppercase;
            color: #11252e;
            font-size: 1.3em;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 5px 1px 0px #0f202a;
            top: 60%;
            right: 0;
            transform: translate(0, 0);
        }
    }
   
   

    .gamegrid {
        
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);

        .cell-x, .cell-o {
            height: 90px;
            background: transparent;
            color: white;
            border-radius: 8px;
            background-color: lighten(#2a424e, 2%);
            border: none;
            font-size: 0;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            box-shadow: 0px 5px 1px 0px #0f202a;

            &.filled {
                animation: wiggle 0.3s alternate-reverse;
                font-size: 3em;
                box-shadow: inset 1px 0px 0px -2px rgba(0,0,0,0.5);
                transform: translateY(4px);
                background-color: darken(#2a424e, 3%);
                border: 1px solid darken(#2a424e, 4%);;
                pointer-events: none;
            } 
        }
        // .cell-x {
        //     &:hover {
        //         background: url(../../assets/x-solid.svg) no-repeat center;
        //         transition: none;
        //         opacity: 0.1;
        //         transform: scale(0.8);
        //     }
        // }
        // .cell-o {
        //     &:hover {
        //         background: url(../../assets/o-solid.svg) no-repeat center;
        //         transition: none;
        //         opacity: 0.5;
        //         transform: scale(0.8);
        //     }
        // }
    }

        
}

@keyframes gridAnim {
    0% {
      opacity: 0.2;
    }
  
    100% {
      opacity: 1;
    }
  }